{% extends "codecoolerIndex.twig" %}

{% block content %}
        <section class = "container-internal">
                <div class = "coin-picker">
                        <span class = "nickname">{{ nickname }}</span>
                        <img src = "static/assets/images/coolcoin.png" class = "coolcoinIcon">
                        <div class = "coins">
                            <span class = "coins-now">Your coolcoins: {{ coolcoins }}</span>
                            <span class = "coins-ever-owned">Coolcoins ever owned: {{ coolcoins_ever_owned }}</span>
                        </div>
        
                        <img src = "static/assets/images/questIcon.png" class = "questIcon">
                        <div class = "quest-in-progress">
                            <span class = "quest">Quest in progress: {{ quest }}</span>
                        </div>
        
                        <img src = "static/assets/images/teamIcon.png" class = "teamIcon">
                        <div class = "team-class">
                            <span class = "class">Your class: {{ room }}</span>
                            <span class = "team">Your team: {{ team }}</span>
                        </div>
                    </div>
  
            <div class = "column">
            <table class = "first-table">
                <tr><th>Hello {{ nickname }}</th></tr>
                <tr class = "first-row">
                    <td>Name:</td>
                    <td>{{ name }} {{ surname }}</td>
                </tr>
                <tr class = "second-row">
                    <td>Level:</td>
                    <td>{{ level }}</td>
                </tr>

                <tr class = "first-row">
                    <td>Coolcoins:</td>
                    <td>{{ coolcoins }}</td>
                </tr>
            </table>
            </div>
        </section>
{% endblock %}