{% extends "mentorIndexPage.twig" %}

{% block content %}

    <div class="container-internal">

            <div class="search-engine">
                <form method="post">
                <span class = "topic">Search for codecooler:</span>
                <input class="input" type="text" name="codecoolerToFind" required>
                <input class="btn" type="submit" value="Submit" name="search">
                </form>
            </div>
        <form method="post">
            <div class="column">
                <fieldset class="first-table menu-internal">
                    <span class = "nickname">{{ name }} {{ surname}} </span>

                                    <div class = "coins">
                                        <span class = "coins-now"> coolcoins: {{ coolcoins }}</span>
                                        <span class = "coins-ever-owned">Coolcoins ever owned: {{ coolcoins_ever_owned }}</span>
                                    </div>


                                    <div class = "quest-in-progress">
                                        <span class = "quest">Quest in progress: {{ quest }}</span>
                                    </div>


                                    <div class = "team-class">
                                        <span class = "class">classID: {{ room }}</span>
                                        <span class = "team">teamID: {{ team }}</span>
                </fieldset><div class="separator">
                <input class="btn" type="submit" value="Submit" name="submitCodecooler">
                </div><fieldset class="second-table menu-internal">
                    <ul>
                        <li><label>
                            Codecooler id:
                            <input class="input" type="text" name="id" required>
                        </label></li>
                        <li><label>
                            New codecooler first name:
                            <input class="input" type="text" maxlength="20" name="firstName" required>
                        </label></li>
                        <li><label>
                            New codecooler surname:
                            <input class="input" type="text" maxlength="20" name="lastName" required>
                        </label></li>
                        <li><label>
                            New codecooler nickname:
                            <input class="input" type="text" maxlength="20" name="nickname" required>
                        </label></li>
                        <li><label>
                            New codecooler email:
                            <input class="input" type="text" maxlength="20" name="email" required>
                        </label></li>
                        <li><label>
                            New codecooler password:
                            <input class="input" type="password" maxlength="25" name="password" required>
                        </label></li>
                    </ul>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}